<h1>Edit workspot</h1>

<form action="/workspots/<%= workspot.id %>?_method=PUT" method="POST" id="workspotEditForm"
	enctype="multipart/form-data">
	<input type="text" name="workspot[name]" id="name" placeholder="Location name" value="<%= workspot.name %>">
	<p>What type of Workspot is this?</p>
	<div>
		<label for="cafe">Cafe/Restaurant/Bar</label>
		<input type="checkbox" name="workspot[type]" id="cafe" value="Cafe/Restaurant/Bar"
			<%= workspot.type.includes("Cafe/Restaurant/Bar") ? "checked" : "" %>>
		<label for="cowork">CoWorking Space</label>
		<input type="checkbox" name="workspot[type]" id="cowork" value="CoWorking"
			<%= workspot.type.includes("CoWorking") ? "checked" : "" %>>
		<label for="library">Library/Community Space</label>
		<input type="checkbox" name="workspot[type]" id="library" value="library"
			<%= workspot.type.includes("library") ? "checked" : "" %>>
	</div>
	<textarea name="workspot[description]" id=""
		placeholder="Describe the Workspot"><%= workspot.description %></textarea>
	<p>How
		would you describe the Wifi speed?</p>
	<div>
		<label for="slow">Slow</label>
		<input type="radio" name="workspot[wifi]" id="slow" value="slow"
			<%= workspot.wifi.includes("slow") ? "checked" : "" %>>
		<label for="adequate">Adequate</label>
		<input type="radio" name="workspot[wifi]" id="adequate" value="adequate"
			<%= workspot.wifi.includes("adequate") ? "checked" : "" %>>
		<label for="fast">Fast!!</label>
		<input type="radio" name="workspot[wifi]" id="fast" value="fast"
			<%= workspot.wifi.includes("fast") ? "checked" : "" %>>
	</div>
	<p>How would you describe the access to Outlets?</p>
	<div>
		<label for="none">None</label>
		<input type="radio" name="workspot[outlet]" id="none" value="none"
			<%= workspot.outlet.includes("none") ? "checked" : "" %>>
		<label for="limited">Limited</label>
		<input type="radio" name="workspot[outlet]" id="limited" value="limited"
			<%= workspot.outlet.includes("limited") ? "checked" : "" %>>
		<label for="good">Good</label>
		<input type="radio" name="workspot[outlet]" id="good" value="good"
			<%= workspot.outlet.includes("good") ? "checked" : "" %>>
		<label for="alot">Alot!!</label>
		<input type="radio" name="workspot[outlet]" id="alot" value="alot"
			<%= workspot.outlet.includes("alot") ? "checked" : "" %>>
	</div>
	<p>How is the parking?</p>
	<div>
		<label for="none">No Parking</label>
		<input type="radio" name="workspot[parking]" id="none" value="none"
			<%= workspot.parking.includes("none") ? "checked" : "" %>>
		<label for="paid">Paid lot/Meters only</label>
		<input type="radio" name="workspot[parking]" id="paid" value="paid"
			<%= workspot.parking.includes("paid") ? "checked" : "" %>>
		<label for="free">Free lot/Free Street parking</label>
		<input type="radio" name="workspot[parking]" id="free" value="free"
			<%= workspot.parking.includes("free") ? "checked" : "" %>>
		<label for="mix">Both free and paid parking options</label>
		<input type="radio" name="workspot[parking]" id="both" value="both"
			<%= workspot.parking.includes("both") ? "checked" : "" %>>
	</div>
	<br>
	<p>Is Food Served?</p>
	<div>
		<label for="yes">Yes</label>
		<input type="radio" name="workspot[food]" id="yes" value="yes"
			<%= workspot.food.includes("yes") ? "checked" : "" %>>
		<label for="no">No</label>
		<input type="radio" name="workspot[food]" id="no" value="no"
			<%= workspot.food.includes("no") ? "checked" : "" %>>
	</div>
	<br>
	<p>Is Alcohol Served?</p>
	<div>
		<label for="yes">Yes</label>
		<input type="radio" name="workspot[alcohol]" id="yes" value="yes"
			<%= workspot.alcohol.includes("yes") ? "checked" : "" %>>
		<label for="no">No</label>
		<input type="radio" name="workspot[alcohol]" id="no" value="no"
			<%= workspot.alcohol.includes("no") ? "checked" : "" %>>
	</div>
	<br>
	<p>Is the workspot open late (after 9:00pm)?</p>
	<div>
		<label for="yes">Yes</label>
		<input type="radio" name="workspot[openLate]" id="yes" value="yes"
			<%= workspot.openLate.includes("yes") ? "checked" : "" %>>
		<label for="no">No</label>
		<input type="radio" name="workspot[openLate]" id="no" value="no"
			<%= workspot.openLate.includes("no") ? "checked" : "" %>>
	</div>
	<br>

	<div>
		<input type="file" id="imageUpload" accept="images/*" name="images" multiple />
		<div>
			<% workspot.images.forEach(function(image, index) { %>
			<img src="<%= image.url %>" alt="" width="100px">
			<label for="image<%= index %>">Delete?</label>
			<input type="checkbox" class="imageDeleteCheckbox" name="deleteImages[]" id="image<%= index %>"
				value="<%= image.public_id %>">
			<% }); %>
		</div>
	</div>

	<div>
		<input type="text" name="workspot[location]" id="" placeholder="location" value="<%= workspot.location %>">
	</div>
	<br>
	<input type="submit">
</form>

<script>
	// find edit form
	let workspotEditForm = document.getElementById('workspotEditForm');
	//add submit listener to edit form
	workspotEditForm.addEventListener('submit', function (event) {

	})
</script>